{% extends 'core/base.html' %}

{% block container %}
<div class="col-sm-9">
    <div class="row row-cols-sm-3">
        {% for post in posts %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5> 
                    <p class="card-text"> {{ todo.content }} </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="col-sm-3">

    <div class="list-group">
        {% for category in categories %}
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            {{ category.title }}
        </a>
        {% endfor %}
        <ul class="list-inline">
            {% for tag in tags %}
            <li class="list-inline-item">
                <span class="badge text-bg-primary">{{ tag.title }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock container %}